WASMIOT_ORCHESTRATOR_URL=http://wasmiot-orchestrator:3000
WASMIOT_LOGGING_ENDPOINT=http://wasmiot-orchestrator:3000/device/logs

DEFAULT_CAMERA_DEVICE=0
DEFAULT_URL_SCHEME=http
SUPERVISOR_NAME=rust-supervisor
DEVICE_TYPE=RaspberryPi-with-camera

WASMIOT_SUPERVISOR_IP=172.15.0.25
WASMIOT_SUPERVISOR_PORT=8080

EXTERNAL_LOGGING_ENABLED=true
RUST_LOG=info
RUST_BACKTRACE=1
WASM_RUNTIME=wasmtime
