*target
*:Zone.Identifier
*.SERIALIZED.wasm
*tests/*.jpeg
*tests/*.txt
*tests/*.sh
*tests/*.py
*tests/*.json
*tests/*.wasm
*tests/*.onnx
pmap*
venv
.venv
.env
instance/wasm-modules/*
instance/wasm-params/*
